.address{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition-property:color;
    transition-duration:250ms;
    
    }
    body {
        font-family: 'Roboto', sans-serif;
        color: #212121;
        font-size: 16px;
       
            
      }
      
.logo {
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    letter-spacing: 0.03em;
    line-height: 1.15;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    
    
   
   
  
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-right: 88px;
    
  }
}
  .logo-1{
    margin: 0;
    @media screen and(max-width:1199px) {
      margin: 26px;
      
    }
  }


    
  
    .logo-header{
        color: black;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.38;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
  
    }
    
    footer{
        font-style: normal;
    letter-spacing:0.03em ;
    font-size: 14px;
    background-color: #2F303A;
    line-height: 1.7;
    font-weight: 400;
    @media screen and(max-width:480px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
  }
  .mail {
    color:#FFFFFF99;
    margin-top: 9px;
    display: flex;
    justify-content: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-decoration: none;
  font-style: normal;
  @media screen and (min-width:1200px) {
    color:#FFFFFF99;
    margin-top: 9px;
    display: block;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-decoration: none;
  font-style: normal;
  }
  
  }
  .tel{
    color: #FFFFFF99;
   
  display: flex;
    justify-content: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  
  @media screen and (min-width:1200px) {
    color: #FFFFFF99;
    margin-top: 9px;
  display: block;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  } 
}
  .button-first{
    color: #FFFFFF;
     background-color: #2196F3;
     line-height: 1.87;
     font-weight: 700;
     font-size: 16px;
     letter-spacing: 0.06em;
     font-family: 'Roboto';
     padding: 10headpx;
    margin-top: 30px;
    width: 216px;
    height: 50px;
    
   
   }
   h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
  margin: 0;
}

.link{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  footer{
    display: flex;
  align-items: baseline;
    padding-bottom: 60px;
    @media screen and(max-width:1199px) {
      padding-bottom: 100px;
    }
    
   
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    transition: 250ms;
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 1.55;
letter-spacing: 0.03em;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
padding-top: 63px;
padding-bottom: 63px;
padding-left: 24px;
padding-right: 24px;
text-align: left;

  }
  
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
 .footer-div-icon{
  justify-content: center;
  display: flex;
  margin-top: 10px;
 }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #ffffff;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .mobile-menu{
    margin-bottom: auto;
  
  }
  .mobile-social-link{
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;

  }
  .mobile-contacts-link{
    font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 1.17;
color: #757575;
  }
  .mobile-menu-link-studio{
    font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 1.17;
text-decoration: none;

  }
  a.mobile-menu-link.link{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 1.17;
    color: #212121;
    
  }
  a.mobile-menu-link-studio.link{
    color:#2196F3;
  }
  .mobile-contacts{
    margin-bottom: 64px;
  }
  .mobile-contacts-item{
    display: flex;
   padding: 16px;
  }